* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ed6826;
}
body {
  background-color: var(--primary-color);
  font-family: "Inter", sans-serif;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
