* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #ed6826;
  --secondary-color: #114b3e;
}
body {
  background-color: var(--primary-color);
  font-family: "Inter", sans-serif;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
a,
h1,
h2,
h3 {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.pagination-wrap {
  justify-content: center;
  color: #ffffff;
  align-items: center;
  margin-block: 84px;
}
.pagination-wrap a {
  margin-inline: 24px;
  display: flex;
  align-items: center;
}
.pagination-wrap img {
  width: 24px;
}
@media only screen and (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}
